*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.foto_fundo{
    width: 100vw;
    background-position: right;
    max-width: 600px;
    position: absolute;
}

.form_cd{
    width: 100%;
    max-width: 600px;
    padding: 10px;
    background-color: white;
    opacity: 100%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;
}

.teste{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_cd h2{
	color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}